@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@400;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

body {
    background-color: black;
    color: white;
}

.close {
    display: none;
}


.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}

.home {
    padding: 10px;
}
.logo{
    cursor: pointer;
}

.logo img:hover{
    width:120px;
    transition: all .7s;
}

.home ul li {
    display: flex;
    gap: 15px;
    width: 34px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
    cursor: pointer;
}

.home ul li:hover{
    width:40px;
    transition: all .7s;
}

.heading img:hover{
    width:25px;
    transition: all .7s;
}


.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.heading img {
    width: 25px;
}

.library {
    min-height: 75vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 10px;
    color: grey;
    gap: 4px;
    position: absolute;
    padding: 14px 0;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;
    font-size: 10px;
    font-weight: bold;

}

.right {
    padding: 16px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 70px;
}

.header>* {
    padding: 20px;
}

.button>* {
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34, 34, 34);
    color: rgb(156, 148, 148);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: rgb(224, 224, 224);
}

.loginbtn {
    background-color: white;
    color: black;
    border-radius: 21px;
    padding: 6px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
    padding: 8px 0;
    transition: 0.5s;
}

/*  */

.spotifyPlaylist {
    padding: 16px;
}

.spotifyPlaylist h1 {
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    max-height: 57vh;
}

.card {
    width: 200px;
    height: 280px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img{
    height: 200px;
    object-fit: contain;
    border-radius: 5px;
    transition: all .5s;
    --a:0;
}

.card:hover{
    background-color: rgb(57, 57, 57);
    cursor: pointer;
    transition: all .5s;
    --a:1;
}

.card p {
    font-size: 13px;
    color: rgb(169, 167, 167)
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play {
    width: 34px;
    height: 34px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 88px;
    right: 17px;
    opacity: var(--a);
    transition: all .5s ease-out;
}


.playbar {
    position: fixed;
    bottom: 25px;
    filter: invert(1);
    background-color: #dad5d5;
    border-radius: 10px;
    width: 70vw;
    padding: 12px;
    min-height: 40px;
}

.songbutton {
    gap: 16px;
    justify-content: center;
    display: flex;
}

.songbutton img {
    width: 30px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 14px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.songList {
    height: 480px;
    overflow: auto;
    margin-bottom: 44px 0;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerCont {
    display: flex;
    align-items: center;
    justify-content: center;
}


.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.playNow span {
    width: 60px;
    font-size: 14px;
    padding: 12px;
    /* font-weight: bold;
    padding: 8px 0;
    border: 1px solid #1fdf64;
    border-radius: 20px;
    text-align: center; */
}

.seekbar {
    width: 98%;
    height: 4px;
    background-color: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    height: 13px;
    width: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbutton img {
    cursor: pointer;
}

.timevol{
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}


.songtime {
    color: black;
    padding: 0 12px;
    width: 125px;
}

.songinfo{
    width: 250px;
    padding: 0 12px;
    color: black;
}

.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
}

.range input{
    cursor: pointer;
}

.abovebar {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -133%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {
        width: auto;
    }

    .left .close {
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }

    .timevol{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 13px;
    }

    .right {
        width: 100vw;
    }

    .playbar {
        /* width: calc(100vw - 60px); */
        width: calc(100vw - 75px); 
    }

    .seekbar {
        /* width: calc(100vw - 60px); */
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .card {
        width: 55vw;
    }

    .card h2, .card p{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .close {
        display: block;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar{
        right: 25px;
    }

    .play{
        right: 155px;
    }
 
}


@media (max-width: 500px) {
    .card {
        width: 70%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header{
        padding: 7px;
    }

    .spotifyPlaylists h1 {
        padding: 4px;
    }

    .library{
        height: 85vh;
    }

    .left{ 
        width: 100vw;
    }

    .play{
        right: 69px;
    }
 
}